/*Styling indhold:

1. Body og generel


2. header

3. indhold
3.1

4. footer */
/*1. Body og genrel styling*/

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-family: 'safetyregular';
    font-size: 30px;
}

p {
    font-family: 'Open Sans';
}

/*2. Header styling */


/*skal laves så logo og nav ligger på samme linje*/
header {
    padding: 10px;
    margin-left: 60%;
    list-style: none;
    position: absolute;
}


.header_menu li {
    display: inline;
    padding: 10px;
}

.header_menu a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 11px;
}

a:hover {
    background-color: #FFF;
    color: #373d46;
}

/*3. indhold*/

#titel_pos {
    position: absolute;
    margin-left: 70%;
    margin-top: 40%;

}


#logo {
    width: 50%;
}

#titel {
    color: white;
    font-size: 4vw;
    margin: 0;
}

video {
    /*not work if the screen ratio is below 16/9*/
    width: 100%;
    height: auto;
}

#videoBG {
    z-index: -1;
}

.kasseindhold {
    width: 100%;
}

#imgBG {
    z-index: -1;
}

#commercial {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: auto;
    margin: 10%;
}

#streamers {
    width: 100%;
    height: auto;
    margin: 6% 0;
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 300px;
    flex-grow: 1;
}

#col1_stream {
    margin: auto 4%;
}

#col2_stream {
    margin: auto 4%;

}

.right_margin {
    margin-right: 50%;
}

#streamersfront {
    margin-bottom: 2%;
}

.grid_container {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(5, 1fr);
}

#streamer4 {
    animation: notice 3s ease-in-out infinite alternate;
}

#streamer4:hover,
.streamer_item:hover {
    animation: 0;
    transition: 0.25s ease-in-out;
    transform: scale(1.23);
    cursor: pointer;
}



@keyframes notice {
    0% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }


}


/*4. footer*/

footer {
    padding: 70px 0 20px;
    background-color: #28292c;
    color: #9ea1a5;
    padding-left: 20px;
    padding-right: 20px;
}

footer .some_footer ul {
    margin: 15px;
}

footer .some_footer ul li a svg {
    width: 50px;
    height: 50px;
    fill: #373d46;
}

footer .service_menu {
    text-align: right;
}

footer .service_menu ul li a {
    color: #ccc;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}




/* safety font */

@font-face {
    font-family: 'safetyregular';
    src: url('font/safety-webfont.woff2') format('woff2'),
        url('font/safety-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'safetybold';
    src: url('font/safety-bold-webfont.woff2') format('woff2'),
        url('font/safety-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'safetydemibold';
    src: url('font/safety-demibold-webfont.woff2') format('woff2'),
        url('font/safety-demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'safetylight';
    src: url('font/safety-light-webfont.woff2') format('woff2'),
        url('font/safety-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

img {
    width: 100%;
}







/*
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}*/

/*@media (min-width: 1025px)
.navigation ul.level-1 {
    text-align: right;
}*/
