/*Styling indhold:

1. Body og generel


2. header

3. indhold
3.1

4. footer */
/*1. Body og genrel styling*/

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    overflow-x: hidden;
}

/*2. Header styling */


/*skal laves så logo og nav ligger på samme linje*/
header {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    list-style: none;
    background-color: #28292c;

}


.header_menu li {

    display: inline;
    color: #ccc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.header_menu a {
    color: #ccc;
    text-transform: uppercase;
    font-size: 14px;

}

a:hover {
    color: #FFFFFF;
}

/*3. indhold*/

#logo {
    position: absolute;
    width: 12%;
    margin-left: 70%;
    margin-top: 900px;
}

#titel {
    color: white;
    position: absolute;
    margin-left: 70%;
    margin-top: 960px;
    font-size: 42px;
}

video {
    /*not work if the screen ratio is below 16/9*/
    width: 100%;
    height: auto;
}

#videoBG {
    z-index: -1;
}

.kasseindhold {
    width: 100%
}

#imgBG {
    z-index: -1;
}

#commercial {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: auto;
    margin: 10%;
}




/*4. footer*/

footer {
    padding: 70px 0 20px;
    background-color: #28292c;
    color: #9ea1a5;
    padding-left: 20px;
    padding-right: 20px;

}

footer .some_footer ul {
    margin: 15px;
}

footer .some_footer ul li a svg {
    width: 50px;
    height: 50px;
    fill: #373d46;
}

footer .service_menu {
    text-align: right;
}

footer .service_menu ul li a {
    color: #ccc;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

img {
    width: 100%;
}







/*
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}*/

/*@media (min-width: 1025px)
.navigation ul.level-1 {
    text-align: right;
}*/
